<%= form_with(model: responsible) do |form| %>
  <% if responsible.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(responsible.errors.count, "error") %> prohibited this responsible from being saved:</h2>

      <ul>
        <% responsible.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "Nome", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label "E-mail", style: "display: block" %>
    <%= form.text_field :email %>
  </div>
  <br>
  <div>
    <%= form.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>
