<p style="color: green"><%= notice %></p>

<h1>Respons치vel</h1>
<%= render @responsible %>

<div>
  <%= link_to "Editar este respons치vel", edit_responsible_path(@responsible), class: "btn btn-outline-primary me-1 flex-grow-1" %>
  <%= link_to "Voltar para respons치veis", responsibles_path, class: "btn btn-outline-primary me-1 flex-grow-1" %>

  <%= button_to "Exlcuir este respons치vel", @responsible, method: :delete, class: "btn btn-danger flex-grow-1" %>
</div>
