<%= form_with(model: @school_class.students.build) do |form| %>
    <h4>
    <%= "Adicionar Aluno" %>
    </h4>
    
    <div class="field">
        <%= form.hidden_field :school_classes_id, value: @school_class.id %>
    </div>
    
    <div class="row">
        <div class="field col">
            <%= form.collection_select(:student_id, Student.all, :id, :name_with_initial, {:prompt => false}) %>
        </div>
        
        <div class="col">
            <%= form.submit "Adicionar" %>
        </div>
    </div>
<% end %>