<p style="color: green"><%= notice %></p>

<%= render @school_class %>

<div>
  <%= link_to "Editar esta turma", edit_school_class_path(@school_class), class: "btn btn-outline-primary" %>
  <%= link_to "Voltar para turmas", school_classes_path, class: "btn btn-outline-primary" %>

  <%= button_to "Excluir esta turma", @school_class, method: :delete, class: "btn btn-danger" %>
</div>

<h2>Registros de frequência</h2>
<%= render @school_class.frequency_registers %>

<%= link_to "Criar um Registro de Frequência", new_school_class_frequency_register_path(@school_class) %>

<%= render "school_classes/school_class_students_list" %>
